node_modules
.env
.next
.virtual_documents
property-predictor/notebooks/mlruns
property-predictor/notebooks/*.png
property-predictor/notebooks/*.pkl
property-predictor/notebooks/*.csv
property-predictor/notebooks/.jukit
property-predictor/notebooks/catboost_info
property-predictor/notebooks/logs.log
property-predictor/notebooks/.ipynb_checkpoints
